<%= form_for(t_qconnection) do |f| %>
  <% if t_qconnection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(t_qconnection.errors.count, "error") %> prohibited this t_qconnection from being saved:</h2>

      <ul>
      <% t_qconnection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_id %>
    <%= f.number_field :test_id %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.number_field :question_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
