<p id="notice"><%= notice %></p>

<h1>T Qconnections</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_qconnections.each do |t_qconnection| %>
      <tr>
        <td><%= t_qconnection.test_id %></td>
        <td><%= t_qconnection.question_id %></td>
        <td><%= link_to 'Show', t_qconnection %></td>
        <td><%= link_to 'Edit', edit_t_qconnection_path(t_qconnection) %></td>
        <td><%= link_to 'Destroy', t_qconnection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T Qconnection', new_t_qconnection_path %>
