<%= form_for(test) do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Question text</td>
        <td>Check</td>
      </tr>
    </thead>
    <tbody>
    <% Question.all.each_with_index do |q, index| %>
      <tr>

        
        <td><%= q.id%></td>
        <td><%= q.text %></td>
        <td>
          <%            checked = !TQconnection.find_by(question: q, test: test).nil?          %>
          <%= check_box_tag("questions[]",q.id, checked) %>
        </td>
      </tr>
        <% end %>
    </tbody>
  </table>

  //Select all questions not beeing there already

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
